#header {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
}

.text {
    font-style: italic;
}

.link {
    text-decoration: underline;
    color: black;
}

.error {
    text-align: left;
    color: red;
    font-style: italic;
}

.inputBox {
    display: block;
    padding: 10px;
    width: 90%;
}

.input {
    margin-bottom: 10%;
}

.label {
    display: block;
    margin-bottom: 10px;
}

.button {
    background-color: black;
    font-weight: bolder;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    width: 80%;
}

.button:hover {
    background-color: rgb(48, 47, 47);
}

.buttonContainer {
    text-align: center;
}

.subheading {
    text-align: center;
}

#vault {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.imageContainer {
    margin-top: 50px;
    margin-bottom: 50px;
}